<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Aventure</title>

    <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

   
    <!-- CSS -->
    <link rel="stylesheet" href="assets/bootstrap-4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/aos/aos.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.css">
    <link rel="stylesheet" href="assets/select2/select2.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

 
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <div>
                    <img src="assets/img/Logo-white.png" alt="" class="logosystem">
                </div>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#perfilSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user"></i> Mi perfil</a>
                    <ul class="collapse list-unstyled" id="perfilSubmenu">
                        <li>
                            <a href="#">Datos Generales</a>
                        </li>
                        <li>
                            <a href="#">Mis Tarjetas</a>
                        </li>
                        <li>
                            <a href="#">Mis Reservaciones</a>
                        </li>
                        <li>
                            <a href="#">Mis Compras</a>
                        </li>
                        <li>
                            <a href="#">Mis Servicios</a>
                        </li>
                        <li>
                            <a href="#">Mis Promociones</a>
                        </li>
                        <li>
                            <a href="#">Mis Boletos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-compass"></i> Explorar</a>
                </li>
                <li>
                    <a href="#"><i class="fas fa-tag"></i> Promociones</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                 <a href="#" class="article"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid btnmenu">
                    <button type="button" id="sidebarCollapse" class="btn btn-light butmenumargen">
                        <i class="fas fa-bars"></i>
                        <span>Menú</span>
                    </button>
                    <button type="button" id="explorar" class="btn btn-light butmenumargen">
                        <i class="fas fa-compass"></i>
                        <span>Explorar</span>
                    </button>
                </div>
            </nav>
        </div>

         <!-- ======= Breadcrumbs ======= -->
         <section class="breadcrumbs">
            <div class="container">

            <div class="d-flex justify-content-between align-items-center">
               
                <ol>
                <li><a href="#" class="linkregresar"><i class="fas fa-chevron-left"></i> Regresar</a></li>
                
                </ol>
            </div>

            </div>
        </section><!-- End Breadcrumbs -->

            <div class="container">
                <div class="col-md-12">
                    <h1>Mis boletos</h1>
                    <h6>Encuentra aquí todos tus boletos</h6>
                </div>
                
                <div class="row">

                <div class="col-md-8">
                    <div class="card" style="max-width: 100%" data-aos="fade-right"  data-aos-delay="200">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="assets/img/hotel/2.jpg" class="card-img altimagen" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                    <h4 class="card-title">Título del boleto</h4>
                                    </div>
                                    <div class="col-md-12">
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-map-marker-alt"></i> Ver mapa</a>
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-calendar-alt"></i> Recordatorio</a>
                                    <a class="btn btn-sm btnnormal" href="#" role="button">Ver detalle <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="card" style="max-width: 100%" data-aos="fade-right"  data-aos-delay="200">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="assets/img/hotel/2.jpg" class="card-img altimagen" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                    <h4 class="card-title">Título del boleto</h4>
                                    </div>
                                    <div class="col-md-12">
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-map-marker-alt"></i> Ver mapa</a>
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-calendar-alt"></i> Recordatorio</a>
                                    <a class="btn btn-sm btnnormal" href="#" role="button">Ver detalle <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="card" style="max-width: 100%" data-aos="fade-right"  data-aos-delay="200">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="assets/img/hotel/2.jpg" class="card-img altimagen" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                    <h4 class="card-title">Título del boleto</h4>
                                    </div>
                                    <div class="col-md-12">
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-map-marker-alt"></i> Ver mapa</a>
                                    <a class="btn btn-sm btn-light" href="#" role="button"><i class="fas fa-calendar-alt"></i> Recordatorio</a>
                                    <a class="btn btn-sm btnnormal" href="#" role="button">Ver detalle <i class="fas fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-md-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span> 
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                </div>




            </div>
        
    </div>

    <div class="overlay"></div>
        <!-- Footer -->
        <footer class="page-footer font-small unique-color-dark">

            <div class="footercolor">
              <div class="container">
          
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">
          
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Visita nuestras redes sociales </h6>
                        <!-- Facebook -->
                        <a href="#" class="fb-ic">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                        <!-- Twitter -->
                        <a href="#" class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a href="#" class="ins-ic">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>
                  </div>
                  <!-- Grid column -->
          
                  <!-- Grid column -->
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
          
                    <img src="assets/img/Logo-white.png" alt="" class="img-fluid" style="height: 80px;" />
          
                  </div>
                  <!-- Grid column -->
          
                </div>
                <!-- Grid row-->
          
              </div>
            </div>
          
           
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright 
              <a href="https://mdbootstrap.com/"> Aventure by Totaltech</a>
            </div>
            <!-- Copyright -->
          
        </footer>
        <!-- Footer -->

    <!-- jQuery JS - Slim version (=without AJAX) -->
   <script src="assets/jquery/jquery-3.5.1.js"></script>
    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
    <script src="assets/bootstrap-4.5.0/js/bootstrap.min.js"></script>

    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Animaciones JS -->
    <script src="assets/aos/aos.js"></script>

    <script async src="assets/js/menu.js"></script>
    <script async src="assets/select2/select2.min.js"></script>

   
    <script>
         $(function (){
            $("#selectmunicipio").select2({

            });
        });

        function aos_init() {
        AOS.init({
        duration: 1000,
        once: true
        });
        }
        $(window).on('load', function() {
            aos_init();
        });
    </script>


</body>

</html>