<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Aventure</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
		<link rel="stylesheet" href="assets/css/login.css">
		<link rel="stylesheet" href="assets/bootstrap-4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/fontawesome/css/all.css">
	</head>
<body>
	

	<div class="row">
		<div class="col-lg-6 fondoverde">
			<img src="assets/img/Logo-white.png" alt="logo" class="img-fluid logotam">
		</div>
		<div class="col-lg-6">
			<div class="contenedorgeneral">
				<div class="contenedorsec">
				<p class="textblackbold">Términos y Condiciones</p>
				<p class="terminos">
					Lorem ipsum dolor sit amet consectetur adipiscing elit, primis platea faucibus nam sem. Eget accumsan ad dignissim magna nullam iaculis, 
					fringilla sociis commodo congue penatibus sollicitudin ullamcorper, tortor integer imperdiet pellentesque duis. Convallis justo curae 
					tempor donec ligula cras commodo scelerisque, maecenas aliquet diam molestie lacinia vulputate ullamcorper, fusce nibh tellus lobortis 
					non parturient proin. Aliquet odio consequat vel ad neque integer feugiat at ridiculus, curabitur sagittis pellentesque fusce ligula 
					lacus turpis sem litora purus, aptent et leo quam non vestibulum semper taciti.
				</p>
				<p  class="terminos">
				Netus nisi justo nec vitae sagittis eros conubia, malesuada quam augue at rutrum curabitur, mi pharetra congue blandit vestibulum proin. 
				Elementum purus molestie at egestas tempor quis litora massa porttitor ultrices, lobortis metus ligula volutpat cras sem neque vehicula class, 
				lectus odio nisi nostra cum aliquet nibh orci fermentum. Nostra natoque vel donec cursus mollis sed hac nec porta praesent nam arcu egestas neque, 
				accumsan mi platea libero purus luctus metus mattis sagittis class nibh eleifend. Elementum leo ultricies ut praesent venenatis a cras dis, nunc orci 
				scelerisque primis consequat non proin, cursus suscipit hac donec facilisis iaculis est.
				</p>
				<button type="button" class="col-md-12 btn btn-primary btn-lg btn-block btnnormal"><a href="registro.html" class="btnaa">Regresar</a></button>
				</div>
				
			</div>
		</div>

	</div>



	<script src="assets/jquery/jquery-3.5.1.js"></script>
	<script src="assets/bootstrap-4.5.0/js/bootstrap.min.js"></script>
	<script src="assets/fontawesome/js/all.js"></script>
	
	

</body>
</html>